<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Voting App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Voting App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <% if (!currentUser) { %>
        <a class="nav-item nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/register">Sign Up</a>
      <% } else { %>
          <a href="#" class="nav-item"><i class="fas fa-user-circle fa-2x"></i></a>
          <a href="#" class="nav-item nav-link"><%= currentUser.username %></a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
<div class="container">
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
</div>
<div class="container">
  <div class="text-center">
    <h1 class="display-1 mb-4">Voting App</h1>
    <h2 class="mb-4">Lorem ipsum dolor sit amet</h2>
    <a href="/votes" class="btn btn-success btn-lg mb-4">Get started</a>
  </div>
  <div class="section-2 mt-4">
    <div class="card text-white bg-info mb-3">
      <div class="card-img-top text-center">
        <i class="fas fa-mobile-alt fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Vote from your phone</h5>
        <p class="card-text">Responsive design allows you to vote on most devices such as desktops, laptops, tablets, and phones.</p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3">
      <div class="card-img-top text-center">
        <i class="fas fa-edit fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Voter choices</h5>
        <p class="card-text">Create polls as an authenticated user or vote anonymously as an unauthenticated user.</p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3">
      <div class="card-img-top text-center">
        <i class="fas fa-chart-line fa-7x"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Voting Visualized</h5>
        <p class="card-text">See the poll results in chart form with visual graphs. Results update immediately after each vote.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
