<% include ./partials/header %>
  <h1>My Polls</h1>
  <% polls.forEach(function(poll) { %>
    <% if (currentUser && poll.author.id.equals(currentUser._id)) { %>
      <h2> <%= poll.question %> </h2>
      <a href="/votes/<%= poll._id %>" class="btn btn-info">See poll</a>
    <% } %>
  <% }); %>
<% include ./partials/footer %>
