<% include ./partials/header %>
<div class="container text-center">
  <h1 class="display-4">MY POLLS</h1>
  <a href="/votes/new" class="btn btn-primary">New Poll</a>
  <a href="/votes" class="btn btn-success">All Polls</a>
  <div class="container mt-4">
    <% polls.forEach(function(poll) { %>
    <% if (currentUser && poll.author.id.equals(currentUser._id)) { %>
    <ul class="list-group">
      <li class="list-group-item">

      </li>
    <% }; %>
    <% }); %>
    </ul>
  </div>
</div>
<% include ./partials/footer %>
