<% include ../partials/header %>
<div class="container">
  <h1 class="display-4 text-center">Edit poll: <%= poll.question %></h1>
  <form action="/votes/<%=poll._id%>?_method=PUT" method="POST">
  </form>
</div>
<% include ../partials/footer %>
