<% include ../partials/header %>
<div class="container text-center">
  <h1 class="display-4">ALL POLLS</h1>
  <a href="/votes/new" class="btn btn-primary">New Poll</a>
  <a href="/mypolls" class="btn btn-success">My Polls</a>
  <div class="container mt-4">
    <ul class="list-group">
    </ul>
  </div>
</div>
<% include ../partials/footer %>
