<% include ../partials/header %>
<div class="container">
  <h1 class="display-4 text-center">Make a new poll</h1>
  <form action="/votes" method="POST">
  </form>
</div>
<% include ../partials/footer %>
